@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

// main - variables //

$main-font: 'Raleway', sans-serif;
$logo-font: 'Oleo Script', cursive;





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.App{
    background-color: #e9ecef;
}